<div id="app">
  <nav>
    <img src="/assets/logo.svg" alt="logo">
  </nav>
  <div class="form-wrapper">
    <h2>Reset Password</h2>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">

      <div class="form-control">
        <input [(ngModel)]="password" name="password" type="password" required>
        <label>Password</label>
      </div>

      <div class="form-control">
        <input [(ngModel)]="confirmPassword" name="confirmPassword" type="password" required>
        <label>Confirm Password</label>
      </div>

      <button type="submit" [disabled]="!loginForm.form.valid">Sign In</button>
      @if (message) {
        <p style="color: #c99d9d"> {{ message }}</p>
      }
    </form>
  </div>

</div>
