<body>
<!-- Navbar -->
<div class="banner" style="position: relative; width: 100vw; height: 100vh; overflow: hidden;">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark"
       style="position: absolute; top: 0; left: 0; right: 0; width: 100%; z-index: 20;">
    <div class="container-fluid">
      <!-- MovieFlix logo in the top left corner -->
      <a class="navbar-brand" href="#"
         style="position: absolute; left: 10px; top: 10px; font-size: 30px;font-weight: 600">GalaxyFilm</a>

      <!-- Navbar menu positioned to the top right -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto" style="position: absolute; right: 30px; top: 10px;">
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">TV Shows</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Video Background -->
  <video muted loop autoplay playsinline
         src="/assets/Avengers-Endgame-Trailer-2 - Trim.mp4"
         style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; pointer-events: none; z-index: 1;">
  </video>


  <!-- Overlay Content -->
  <div
    style="position: absolute; top: 45%; left: 50%; transform: translate(-50%, -50%); color: white; text-align: center; z-index: 10; width: 90%; max-width: 600px;">
    <h1 style="font-size: 3rem; font-weight: bold; margin-bottom: 20px;">Welcome to MovieFlix</h1>
    <input class="form-control mb-3" type="text" placeholder="Enter your film..."
           style="border-radius: 20px; padding: 10px 15px; font-size: 1.1rem;">
    <p style="font-size: 1.2rem;">Book your favorite movies now!</p>
  </div>

</div>

<!-- Movie Categories -->
<div class="container movie-category mt-4">
  <br>
  <h2>Popular Movies</h2>
  <div class="row grid-frame">
    @for (movie of movies; track $index) {
      <div class="movie-item" [routerLink]="['/film-detail', movie.movieTitle]">
        <img src="{{movie.posterUrl}}" class="img-fluid movie-poster" alt="Movie {{ $index + 1 }}">
        <p style="color: white">ccc</p>
      </div>
    }
  </div>
  <br><br>
</div>
</body>

<app-footer></app-footer>
