@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#app {
  background: #000;
  color: #fff;
}

#app::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  background: url("/assets/hero-img.jpg");
  background-position: center;
  background-size: cover;
  z-index: -1;
}

nav {
  position: fixed;
  padding: 25px 60px;
  z-index: 1;
}

nav a img {
  width: 167px;
}

.form-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 8px;
  padding: 40px;
  width: 450px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.85);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.form-wrapper h2 {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
}

.form-wrapper form {
  margin: 25px 0;
}

.form-control {
  height: 50px;
  position: relative;
  margin-bottom: 20px;
}

.form-control input {
  height: 100%;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  padding: 0 20px;
}
.form-control input:is(:focus, :valid) {
  background: #444;
  padding: 16px 20px 0;
}

.form-control label {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  pointer-events: none;
  color: #645e5e;
  transition: all 0.2s ease;
}

.form-control input:is(:focus, :valid)~label {
  font-size: 0.75rem;
  transform: translateY(-130%);
}

form button {
  width: 100%;
  padding: 16px 0;
  font-size: 1.1rem;
  background: #e50914;
  color: #fff;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  outline: none;
  margin: 25px 0 15px;
  cursor: pointer;
  transition: background 0.2s ease;
}

form button:hover {
  background: #c40812;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.button-group button {
  width: 48%;
  padding: 12px;
  font-size: 1rem;
  color: #fff;
  background: #3b5998; /* Facebook color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-group button.btn-google {
  background: #db4437; /* Google color */
}

.button-group button:hover {
  opacity: 0.8;
}

.form-help {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form .remember-me {
  display: flex;
}

form .remember-me input {
  margin-right: 5px;
  accent-color: #b3b3b3;
}

form .form-help a {
  color: #e50914;
  font-size: 0.9rem;
}

.form-wrapper small {
  display: block;
  margin-top: 15px;
  color: #b3b3b3;
}

.form-wrapper small a {
  color: #0071eb;
}

@media (max-width: 740px) {
  #app::before {
    display: none;
  }

  nav, .form-wrapper {
    padding: 20px;
  }

  nav a img {
    width: 140px;
  }

  .form-wrapper {
    width: 100%;
    top: 40%;
  }

  .form-wrapper h2 {
    font-size: 2rem;
  }
}
