<div id="app">
  <nav>
    <img src="/assets/logo.svg" alt="logo">
  </nav>
  <div class="form-wrapper">
    <h2>Sign In</h2>
    <form>
      <div class="form-control">
        <input type="text" required>
        <label>Email or phone number</label>
      </div>
      <div class="form-control">
        <input type="password" required>
        <label>Password</label>
      </div>
      <div class="form-help">
         <p>Forgot password ?</p>
      </div>
      <button type="submit">Sign In</button>
    </form>
    <div class="button-group">
      <button class="btn-google" onclick="window.location.href = 'http://localhost:8080/oauth2/authorization/google';
">
        Google <i class="fa-brands fa-google"></i></button>
      <button class="btn-facebook" onclick="window.location.href='http://localhost:8080/oauth2/authorization/facebook'">
        Facebook <i class="fa-brands fa-facebook"></i></button>
    </div>

    <div class="form-help">
      <div class="remember-me">
        <input type="checkbox" id="remember-me">
        <label for="remember-me">Remember me</label>
      </div>
    </div>
  </div>

</div>
