
.container {
  width: 40%;
  margin: 10px auto;
  padding: 30px;
}

h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: bold;
}

.screen {
  text-align: center;
  background-color: #e50914;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.seat:hover {
  background-color: #666;
}

.seat.selected {
  background-color: #e50914;
}

.legend {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 5px;
}

.available {
  background-color: #444;
}

.selected {
  background-color: #e50914;
}

.reserved {
  background-color: #ffbc41;
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #222;
  color: #888;
  margin-top: 30px;
}

section {
  border-radius: 8px;
  padding: 8px;
  margin: 10px 0;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 20px;
  color: #fafafa;
  margin-bottom: 15px;
  font-weight: bold;
}

select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #555;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

select:hover {
  border-color: #888;
}

.branch-cities, .branch-theaters, .show-times {
  margin-bottom: 20px;
}

.room h2 {
  text-align: center;
}

.seats {
  display: grid;
  grid-gap: 10px;
  justify-items: center;
  margin-top: 20px;
}

.standard-room {
  grid-template-columns: repeat(8, 1fr);
}

.imax-room {
  grid-template-columns: repeat(10, 1fr);
}

.couple-room {
  grid-template-columns: repeat(6, 1fr);
}

.seat {
  width: 50px;
  height: 50px;
  background-color: #444;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.seat:active {
  background-color: #ccc6c6;
}


.category {
  margin-bottom: 15px;
}
.category h3 {
  margin: 0 0 5px 0;
  font-size: 16px;
}
.btn {
  display: inline-block;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
}
.btn:hover {
  background-color: white;
  color: #662d91;
}

