<div class="container">
  <!--
  <section class="branch-cities">
    <h2>Chọn chi nhánh thành phố</h2>
    <select id="city-branch">
      <option value="hanoi">Hà Nội</option>
      <option value="hcm">Hồ Chí Minh</option>
      <option value="danang">Đà Nẵng</option>
      <option value="hue">Huế</option>
    </select>
  </section>

  <section class="branch-theaters">
    <h2>Chọn rạp</h2>
    <select id="theater-branch">
      <option value="rap1">Rạp 1</option>
      <option value="rap2">Rạp 2</option>
      <option value="rap3">Rạp 3</option>
      <option value="rap4">Rạp 4</option>
    </select>
  </section>
  -->
  <section class="show-times">
    <h1>Show Time</h1>
    <form action="/submit-date" method="post" class="mb-3">
      <div class="form-group">
        <label for="birthday" class="form-label">-- Select Day --</label>
        <input type="date" id="birthday" [(ngModel)]="date" (ngModelChange)="getShowtime(date)" name="birthday"
               class="form-control">
      </div>
    </form>

    <!-- show list showtime -->
    @for (room of rooms; track $index) {
      <div class="category">
        <h3>{{ room.roomName }} - {{ room.roomType }}</h3>
        @for (showtime of groupedShowtimes; track $index) {
          @if (showtime.roomId === room.roomId) {
            @for (time of showtime.showtimes; track $index) {
              <button class="btn"
                      [ngClass]="{selected:  inf_selected &&  inf_selected.time?.showtimeId === time.showtimeId}"
                      (click)="selectShowtime(time, room)">
                {{ time.time_start}}
              </button>
            }
          }
        }
      </div>
    }


    @if (showtimeMessage) {
      <p>{{ showtimeMessage }}</p>
    }

  </section>

  @if (showSeat) {

    <div class="seating">
      <br>
      @for (room of rooms; track $index) {

        @if (inf_selected?.room?.roomId === room.roomId && room.roomType == "STANDARD") {
          <div class="room" id="STANDARD">
            <h2>STANDARD Room</h2>
            <div style="width: 100%; height: 50px; border-top: 15px solid white; border-radius: 200px 200px 0 0;"></div><br>
            <div class="seats standard-room">
              @for (seat of seats; track $index) {
                <div class="seat" [ngClass]="{ selected: isSelected(seat), reserved: seat.seatStatus === 'RESERVED' }"
                     (click)="seat.seatStatus !== 'RESERVED' ? toggleSeatSelection(seat): null">
                  {{ seat.seatNumber }}
                </div>
              }
            </div>
          </div>
        }

        @if (inf_selected?.room?.roomId === room.roomId && room.roomType == "IMAX") {
          <div class="room" id="IMAX">
            <h2>IMAX Room</h2>
            <div style="width: 100%; height: 50px; border-top: 15px solid white; border-radius: 200px 200px 0 0;"></div><br>
            <div class="seats imax-room">
              @for (seat of seats; track $index) {
                <div class="seat" [ngClass]="{ selected: isSelected(seat), reserved: seat.seatStatus === 'RESERVED' }"
                     (click)="seat.seatStatus !== 'RESERVED' ? toggleSeatSelection(seat): null">
                  {{ seat.seatNumber }}
                </div>
              }
            </div>
          </div>
        }

        @if (inf_selected?.room?.roomId === room.roomId && room.roomType == "COUPLE") {
          <div class="room" id="COUPLE">
            <h2>COUPLE Room</h2>
            <div style="width: 100%; height: 50px; border-top: 15px solid white; border-radius: 200px 200px 0 0;"></div><br>
            <div class="seats couple-room">
              @for (seat of seats; track $index) {
                <div class="seat" [ngClass]="{ selected: isSelected(seat), reserved: seat.seatStatus === 'RESERVED' }"
                     (click)="seat.seatStatus !== 'RESERVED' ? toggleSeatSelection(seat): null">
                  {{ seat.seatNumber }}
                </div>
              }
            </div>
          </div>
        }
      }
      <br>
      <div class="legend">
        <div class="legend-item">
          <div class="legend-color available"></div>
          <span>Ghế trống</span>
        </div>
        <div class="legend-item">
          <div class="legend-color selected"></div>
          <span>Đã chọn</span>
        </div>
        <div class="legend-item">
          <div class="legend-color reserved"></div>
          <span>Đã đặt</span>
        </div>
      </div>
    </div>
  }
</div>

@if (inf_selected) {
  <div class="inf-payment">
    <div class="movie-info">
      <p class="movie-title">CƯỚI MA (T18)</p>
      <p class="cinema-name">Show room: {{ inf_selected?.room?.roomName }} - {{ inf_selected?.room?.roomType }}
        | @for (selectSeat of selectedSeats; track $index) {
          {{ selectSeat.seatNumber }} |
        }
        {{ inf_selected?.time?.time_start }}</p>
    </div>
    <div class="details">
      <div class="ticket-container">

        <div>
          <strong>
            Subtotal: {{ (inf_selected?.room?.roomPrice || 0) * (inf_selected?.seat?.length || 0) | number:'1.0-0' }}</strong>
        </div>
        @if (showPayment) {
          <button class="book-button" [routerLink]="['/checkout']" (click)="setTime()">BOOK NOW</button>
        }
      </div>
    </div>
  </div>
}
<br><br><br>
<app-footer></app-footer>


