<body>
<div class="container">
  <header>
    <h1>Quản Lý Showtime - Lịch Chiếu</h1>
    <button class="btn btn-light btn-sm add-btn fw-bold" data-bs-toggle="modal" data-bs-target="#createShowtime">+ Add
      Showtime
    </button>
  </header>

  <div class="showtime-schedule">
    <div class="filter">
      <label for="datePicker">Chọn Ngày:</label>
      <input type="date" id="datePicker" [(ngModel)]="dateTime"/>
      <button class="btn btn-danger" (click)="getAll()">Get</button>
    </div>
    @for (showtime of showtimes; track $index) {
      <div class="timeline">
        <div class="timeline-item">
          <div class="time">{{ showtime.time_start }}</div>
          <div class="event">
            <h3>Avatar 2</h3>
            <p>Phòng 1 - Đang mở bán</p>
          </div>
        </div>
      </div>
    }
  </div>
</div>
</body>


<div class="modal fade" id="createShowtime" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-secondary text-light">
        <h5 class="modal-title fw-bolder" id="exampleModalLabel">Create new room</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body bg-dark text-white">
        <form #formCreate="ngForm" class="container my-4">

          <div class="row mb-3">
            <div class="col-md-6">
              <label for="time_start" class="form-label">Time Start</label>
              <input id="time_start" name="time_start" [(ngModel)]="showtime.time_start" type="datetime-local"
                     class="form-control"
                     required/>
            </div>
            <div class="col-md-6">
              <label for="time_end" class="form-label">Time End</label>
              <input id="time_end" name="time_end" [(ngModel)]="showtime.time_end" type="datetime-local"
                     class="form-control"
                     required/>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success w-100" [disabled]="formCreate.invalid" data-bs-dismiss="modal">
              Create Film
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

