<div class="container">
  <button class="btn btn-light btn-sm add-btn fw-bold" data-bs-toggle="modal" data-bs-target="#createRoom">+ Add
    new room
  </button>

  <br>
  <table class="table table-striped table-bordered table-hover table-dark">
    <thead class="table-light text-dark">
    <tr class="fw-bold">
      <th>ID</th>
      <th>Name</th>
      <th>Type</th>
      <th>Seat Price</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
      @for (room of rooms; track $index) {
        <tr>
          <td>{{ room.roomId }}</td>
          <td>{{ room.roomName }}</td>
          <td>{{ room.roomType }}</td>
          <td>{{ room.roomPrice | number:'1.0-0'}}₫</td>
          <td>
            <button class="btn btn-warning btn-sm edit-btn me-2" data-bs-toggle="modal"
                    data-bs-target="#updateRoom" (click)="findRoom(room.roomId)">
              <i class="fa-duotone fa-solid fa-pen-to-square"></i>
            </button>
          </td>
          <td>
            <button class="btn btn-danger btn-sm delete-btn" (click)="deleteRoom(room.roomId)">
              <i class="fa-solid fa-delete-left"></i></button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>


<div class="modal fade" id="createRoom" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-secondary text-light">
        <h5 class="modal-title fw-bolder" id="exampleModalLabel">Create new room</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body bg-dark text-white">
        <form #formCreate="ngForm" (ngSubmit)="createRoom()" class="container my-4">

          <div class="row mb-3">
            <div class="col-md-6">
              <label for="movieName" class="form-label">Room Name</label>
              <input id="movieName" name="movieName" [(ngModel)]="room.roomName" type="text" class="form-control"
                     required/>
            </div>
            <div class="col-md-6">
              <label for="movieTitle" class="form-label">Seat Price</label>
              <input id="movieTitle" name="movieTitle" [(ngModel)]="room.roomPrice" type="number" class="form-control"
                     required/>
            </div>
          </div>
          <div class="row mb-3">
            <label for="movieStatus" class="form-label">Movie Status</label>
            <select id="movieStatus" name="movieStatus" [(ngModel)]="room.roomType" class="form-select" required>
              <option [value]="RoomType.STANDARD">STANDARD</option>
              <option [value]="RoomType.IMAX">IMAX</option>
              <option [value]="RoomType.COUPLE">COUPLE</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success w-100" [disabled]="formCreate.invalid" data-bs-dismiss="modal">
              Create Film
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

@if (room) {
  <div class="modal fade" id="updateRoom" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-secondary text-light">
          <h5 class="modal-title fw-bolder">Update room</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body bg-dark text-white">
          <form #updateForm="ngForm" (ngSubmit)="updateRoom(room.roomId, room)" class="container my-4">

            <div class="row mb-3">
              <div class="col-md-6">
                <label for="movieName" class="form-label">Movie Name</label>
                <input name="movieName" [(ngModel)]="room.roomName" type="text" class="form-control"
                       required/>
              </div>
              <div class="col-md-6">
                <label for="movieTitle" class="form-label">Seat price</label>
                <input name="movieTitle" [(ngModel)]="room.roomPrice" type="number" class="form-control"
                       required/>
              </div>
            </div>
            <div class="row mb-3">
              <label for="movieStatus" class="form-label">Movie Status</label>
              <select name="movieStatus" [(ngModel)]="room.roomType" class="form-select" required>
                <option [value]="RoomType.STANDARD">STANDARD</option>
                <option [value]="RoomType.IMAX">IMAX</option>
                <option [value]="RoomType.COUPLE">COUPLE</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success w-100" [disabled]="updateForm.invalid"
                      data-bs-dismiss="modal">
                Update room
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
}
