/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.order-container {
  background-color: #fff;
  width: 30%;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.order-header {
  text-align: center;
  margin-bottom: 20px;
}

.order-header h1 {
  font-size: 20px;
  color: #333;
}

.status {
  display: inline-block;
  background-color: #34a853;
  color: #fff;
  padding: 8px 15px;
  border-radius: 50px;
  font-size: 15px;
}

.order-details {
  margin-top: 20px;
}

.detail-row {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #f0f0f0;
}

.detail-row:last-child {
  border-bottom: none;
}

.label {
  font-weight: bold;
  color: #555;
}

.value {
  color: #333;
}

.value,
.label {
  font-size: 14px;
}
.icon-paymentSuccess{
  width: 100px;
}
