<body>
<div class="order-container">
  <div class="order-header">
    <h1>Thông tin đơn hàng</h1>
    <br>
    <div class="status success">
      <img class="icon-paymentSuccess" src="assets/payment-succss.png">
      <span>Thanh toán thành công</span>
    </div>
  </div>
  <div class="order-details">
    <div class="detail-row">
      <span class="label">Mã đơn hàng:</span>
      <span class="value">{{ this.orderId }}</span>
    </div>
    <div class="detail-row">
      <span class="label">Số tiền:</span>
      <span class="value">{{ total_price | number:'1.0-0' }} VND</span>
    </div>
    <div class="detail-row">
      <span class="label">Nhà cung cấp:</span>
      <span class="value">{{ partnerCode }}</span>
    </div>
    <div class="detail-row">
      <span class="label">Số điện thoại:</span>
      <span class="value">{{ dataPayment.user.phone }}</span>
    </div>
    <div class="detail-row">
      <span class="label">email:</span>
      <span class="value">{{ dataPayment.user.email }}</span>
    </div>
    <br>
    <tr>
      <th>Room</th>
      <th>Seat</th>
      <th>Amount</th>
    </tr>
    <tr>
      <td>{{ dataPayment.room.roomName }}</td>
      <td>@for (seat of dataPayment.seat; track $index) {
        {{ seat.seatNumber }}
      }</td>
      <td>{{ dataPayment.seat.length }}</td>
    </tr>
    <br>
    <div class="detail-row">
      <span class="label">Thời gian thanh toán:</span>
      <span class="value">{{ datePayment | date:'HH:mm:ss dd/MM/yyyy' }}</span>
    </div>
  </div>

  @if (messageMail) {
    <p style="color: #1fce7f"> {{ messageMail }}</p>
  }
  <br>
  <button class="btn-return" [routerLink]="['/home']">Return home</button>
</div>
<div #ticketContent class="ticket">
  <div class="ticket-header">TICKET</div>

  <div class="customer-info">
    <strong>Customer:</strong><br>
    <strong>Email:</strong> {{ dataPayment.user.email }}<br>
    <strong>Phone:</strong> +84 {{ dataPayment.user.phone }}
  </div>

  <div class="location-info">
    <strong>GALAXYFILM HCM</strong><br>
    Địa chỉ: 123 Lê Duẩn, TP Tuy Hòa, Phú Yên<br>
    <strong>Website:</strong> www.galaxyfilm.vn
  </div>

  <div class="movie-info">
    <strong>Movie:</strong> {{ dataPayment.movie.movieName }}<br>
    <strong>Showtime:</strong> {{ dataPayment.time.time_start }}<br>
    <strong>Room:</strong> {{ dataPayment.room.roomName }}<br>
    <strong>Room Type:</strong>{{ dataPayment.room.roomType }}<br>
    <strong>Seat:
      @for(seat of dataPayment.seat;track $index){
        {{ seat.seatNumber }}
      }
    </strong>
  </div>

  <div class="payment-info">
    <strong>Payment Method:</strong>{{ partnerCode }}<br>
    <strong>Payment:</strong> {{ total_price | number:'1.0-0' }} VND<br>
    <strong>Payment date:</strong> {{ datePayment }}
  </div>

  <div class="total-price">
    Total Price: <strong>{{ total_price | number:'1.0-0' }} VND</strong><br>
    (Bao gồm thuế và phí dịch vụ)
  </div>

  <qrcode [qrdata]="ticket.ticketId" [width]="100" [errorCorrectionLevel]="'M'"></qrcode>
</div>


</body>



