body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #8a2be2, #4b0082, #000000, #0066cc, #8a2be2);
  color: #fff;
}

.centered-iframe {
  width: 70vw;
  height: 500px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}


.container {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
}

.movie-info {
  display: flex;
  color: #fff;
}

.poster {
  width: 300px;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}

.details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.details h1 {
  font-weight: bold;
}

.rating {
  font-size: 18px;
  margin-bottom: 10px;
}

.watch-btn {
  background-color: #f8c21f; /* Nút vàng cho nút đặt vé */
  color: #000;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
  transition: background-color 0.3s;
}

.watch-btn:hover {
  background-color: #d39e16; /* Màu khi hover */
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 20px;
}

ul li {
  font-size: 16px;
  margin-bottom: 5px;
}

.description {
  font-size: 16px;
  line-height: 1.6;
}

footer {
  background-color: #1a1a1a; /* Đen nhẹ hơn */
  color: #808080;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
  font-size: 0.9rem;
}
