
<body>
<div class="admin-container">
  <div class="toolbar">
    <button class="btn">Home</button>
    <button class="btn">Search</button>
    <button class="btn">Settings</button>
  </div>

  <aside class="sidebar">
    <h2>Trang Admin</h2>
    <ul>
      <li><a>Dashboard</a></li>
      <li><a [routerLink]="['/manage/movie']">Movie</a></li>
      <li><a [routerLink]="['/manage/showtime']">Show time</a></li>
      <li><a [routerLink]="['/manage/room']">Room</a></li>
      <li><a [routerLink]="['/checkTicket']">Check Ticket</a></li>

    </ul>
  </aside>
  <main class="main-content">

    <router-outlet></router-outlet>

  </main>
</div>
</body>



