
<body>
<div class="admin-container">
  <nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">Manage</a>
    </div>
  </nav>

  <aside class="sidebar">
    <h2>Manage</h2>
    <ul>
      <li><a [routerLink]="['/manage/a']">Dashboard</a></li>
      <li><a [routerLink]="['/manage/movie']">Movie</a></li>
      <li><a [routerLink]="['/manage/showtime']">Show time</a></li>
      <li><a [routerLink]="['/manage/room']">Room</a></li>
      <li><a [routerLink]="['/checkTicket']">Check Ticket</a></li>

    </ul>
  </aside>
  <main class="main-content">

    <router-outlet></router-outlet>

  </main>
</div>
</body>



