body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #fff;
  height: 100%;
}

.admin-container {
  height: auto;
  min-height:100vh;
}

.toolbar {
  display: flex;
  justify-content: space-around;
  background-color: #001C44;
  padding: 10px;
}


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #14526e;
  padding: 20px;
  box-sizing: border-box;

}

.sidebar h2 {
  text-align: center;
  color: #f39c12;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1em;
  display: block;
}

.sidebar ul li a:hover {
  color: #f39c12;
}

.main-content {
  margin-left: 250px;
  box-sizing: border-box;
  height: auto;
  background-color: #ffffff;
}
